body {
  margin: 0;
}

.navText {
  color: blue;
}

.imageCell {
  display: inline;
  margin: 10px;
}

.image {
  width: 20%;
  max-height: 200px;
  padding: 5px;
  cursor: pointer;
}

.single-photo {
  width: 100%;
}
